<block-ui>
<div class="p-4">
  <div class="card mb-4 shadow" style="border-radius: 1rem">
    <div class="card-header border" style="background: white; border-radius: 0.5rem; padding: 1rem">
      <div class="row g-3 mt-2">
        <div class="col-md-3">
          <input class="form-control" style="font-family: bootstrap-icons;" type="text" placeholder="&#xF52A;  Search..." [(ngModel)]="params.search" (ngModelChange)="searchChange()">
        </div>

        <div class="col-md-9 d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Columns
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let column of displayedColumns">
                <div class="dropdown-item d-flex justify-content-between">
                  <label style="font-size: 20px">{{column.id}}</label>
                  <input style="font-size: 20px" class="ms-2 form-check-input" type="checkbox" [(ngModel)]="column.show">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <label style="font-size: 18px">Found: {{filteredData.length}}</label>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-hover" matSort (matSortChange)="sortData($event)" style="font-size: 20px;font-family: sans-serif;">
            <thead>
            <tr>
              <th *ngIf="columnDisplayed('name')" mat-sort-header="name" scope="col">name</th>
              <th *ngIf="columnDisplayed('email')" mat-sort-header="email" scope="col">email</th>
              <th *ngIf="columnDisplayed('balance')" mat-sort-header="balance" scope="col">balance</th>
              <th *ngIf="columnDisplayed('age')" mat-sort-header="age" scope="col">age</th>
              <th *ngIf="columnDisplayed('address')" mat-sort-header="address" scope="col">address</th>
              <th *ngIf="columnDisplayed('company')" mat-sort-header="company" scope="col">company</th>
              <th *ngIf="columnDisplayed('tags')" mat-sort-header="tags" scope="col">tags</th>
              <th *ngIf="columnDisplayed('favoriteFruit')" mat-sort-header="favoriteFruit" scope="col">favoriteFruit</th>
              <th *ngIf="columnDisplayed('isActive')" mat-sort-header="isActive" scope="col">isActive</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of displayedData">
              <td *ngIf="columnDisplayed('name')"><label *ngIf="record.name">{{record.name.last}} {{record.name.first}}</label></td>
              <td *ngIf="columnDisplayed('email')">{{record.email}}</td>
              <td *ngIf="columnDisplayed('balance')">{{record.balance}}</td>
              <td *ngIf="columnDisplayed('age')">{{record.age}}</td>
              <td *ngIf="columnDisplayed('address')">{{record.address}}</td>
              <td *ngIf="columnDisplayed('company')">{{record.company}}</td>
              <td *ngIf="columnDisplayed('tags')">
                <div style="display: flex; gap: 1rem">
                  <div *ngFor="let tag of record.tags" class="badge rounded-pill text-bg-success">{{tag}}</div>
                </div>
              </td>
              <td *ngIf="columnDisplayed('favoriteFruit')">{{record.favoriteFruit}}</td>
              <td *ngIf="columnDisplayed('isActive')"><input type="checkbox" disabled [(ngModel)]="record.isActive" class="form-check-input"></td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between mt-3">
            <div>
              <div class="btn-group">
                <button *ngFor="let size of pageSizes"
                        type="button" class="btn btn-outline-primary"
                        [class.active]="params.pageSize == size"
                        (click)="params.pageSize = size; params.page = 1; pageChange()">
                  <span>{{size}}</span>
                </button>
              </div>
            </div>
            <ngb-pagination [collectionSize]="filteredData.length" [pageSize]="params.pageSize" [(page)]="params.page" (pageChange)="pageChange()"
                            [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet />
</block-ui>
